* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
}

#form-login {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-flow: column wrap;
}

#trybewarts-forms-logo {
  height: 500px;
}

.inputs-container {
  display: flex;
  flex-flow: row nowrap;
}

.radio-head {
  display: flex;
  flex-flow: column nowrap;
}

.content-box {
  display: flex;
  flex-flow: column wrap;
}

.comment-area {
  display: flex;
  flex-flow: column nowrap;
}

